body {
    background-color: #f4fafd; /* Fondo blanco */
    margin: 0;
    padding: 0;
}

header { /* Fondo de la cabecera en azul polvoriento */
    font-family: "Luckiest Guy", serif;
    font-style: normal;
    font-size: 18px;
    box-shadow: 0px 4px 15px #5886af;
}

.custom-color {
    color: #5886af; /* Color personalizado */
}


.logo{
    border-radius: 60%;
    border: 3px solid #eac77d; /* Borde de color #eac77d */
    box-shadow: 0px 0px 10px 5px #eac77d; /* Sombra de color #eac77d */
}


.navbar-nav {
    flex: 1;
    justify-content: center; /* Centra los elementos de navegación */
}

.nav-link {
    color: #5886af;
    font-size: 35px;
    text-decoration: none;
    padding: 0 1rem;
}

.nav-link:hover {
    color: #eac77d;
}

.banner {
    background-color: #eac77d; /* Fondo del banner en crema delicada */
    padding: 1rem;
    text-align: center; /* Centrar el texto opcionalmente */
}

.banner p {
    max-width: 600px; /* Controlar el ancho del párrafo */
    margin: 0 auto;   /* Centrarlo dentro del contenedor */
    line-height: 1.6; /* Espaciado entre líneas */
}

.sobremi{
    max-width: 600px; /* Controlar el ancho del párrafo */
    margin: 0 auto;   /* Centrarlo dentro del contenedor */
    line-height: 1.6; /* Espaciado entre líneas */
    margin-bottom: 25px;
}

.title{
    color: #5886af;
}

.carousel {
    margin: 2rem 0;
    font-family: "Luckiest Guy", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
}

.profile-pic {
    width: 200px;
    border-radius: 50%;
    margin-bottom: 1rem;
    animation: floating 3s ease-in-out infinite;
    border: 3px solid #eac77d; /* Borde de color #eac77d */
    box-shadow: 0px 0px 10px 5px #eac77d; /* Sombra de color #eac77d */
}


@keyframes floating {
    0% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0); }
}

.project {
   display: flex;
   justify-content: center;
   margin-bottom: 25px;
}

.img-project{
    box-shadow: 0px 4px 15px #5886af;
    border-radius: 10%;
}


.social-icons a {
    padding: 15px;
}

.social-icons {
    margin-bottom: 25px;
}

/* Centrar verticalmente las secciones */
.section {
    display: flex;
    text-align: center;
    justify-content: center;  /* Centrar horizontalmente */
    align-items: center;      /* Centrar verticalmente */
    font-family: "Luckiest Guy", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.input{
    border: solid 1px #eac77d;
}

.whatsapp-button { 
    position: fixed; 
    bottom: 20px; 
    right: 20px; 
    width: 60px; 
    height: 60px; 
    background-color: #25D366; 
    border-radius: 50%; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    cursor: pointer; 
   
} 
    
.whatsapp-button a { 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: 100%; 
    height: 100%; 
    text-decoration: none; 
    color: #fff; 
   

} 
    
.whatsapp-icon { 
    font-size: 30px; 
    color: #fff; 
   
}

.whatsapp-button:hover { transform: scale(1.5); /* Escala el icono al 150% de su tamaño original */ }

/* Asegúrate de que no haya contorno ni en foco ni en hover */ 
.whatsapp-button a:focus, 
.whatsapp-button a:active, 
.whatsapp-button a:hover { border: none; outline: none; text-decoration: none; }/* Quita cualquier subrayado */

footer {
    background-color: #5886af; /* Fondo del pie de página */
    color: #fff;
    padding: 20px 0;
    text-align: center;
    font-family: "Luckiest Guy", serif;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-content div {
    margin: 10px;
}

.footer-content h4 {
    margin-bottom: 15px;
}

.footer-content ul {
    list-style-type: none;
    padding: 0;
}

.footer-content ul li {
    margin-bottom: 10px;
}

.footer-content .quick-links ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
    cursor: pointer;
}

.footer-content .quick-links ul li a:hover {
    color: #eac77d; /* Color al pasar el mouse */
}

.social-icons a {
    margin: 0 10px;
    font-size: 24px;
    color: #fff;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: #eac77d; /* Color al pasar el mouse */
}

.footer-bottom {
    margin-top: 20px;
    border-top: 1px solid #eac77d; /* Línea superior */
    padding-top: 10px;
}

.politicas{
    color: white;
    text-decoration: none;
}

.politicas:hover{
    color: #eac77d;
    text-decoration: none;
}